### Importación de datos

In [5]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

# 1. Análisis de facturación

## Ingreso total por tienda

In [6]:
ingresos_tienda1 = tienda['Precio'].sum()
ingresos_tienda2 = tienda2['Precio'].sum()
ingresos_tienda3 = tienda3['Precio'].sum()
ingresos_tienda4 = tienda4['Precio'].sum()
print(f"Ingresos Tienda 1: ${ingresos_tienda1:,.2f}")
print(f"Ingresos Tienda 2: ${ingresos_tienda2:,.2f}")
print(f"Ingresos Tienda 3: ${ingresos_tienda3:,.2f}")
print(f"Ingresos Tienda 4: ${ingresos_tienda4:,.2f}")

Ingresos Tienda 1: $1,150,880,400.00
Ingresos Tienda 2: $1,116,343,500.00
Ingresos Tienda 3: $1,098,019,600.00
Ingresos Tienda 4: $1,038,375,700.00

# 2. Ventas por categoría

## Tienda 1

In [7]:
ventas_categoria_tienda1 = tienda.groupby('Categoría del Producto')['Precio'].sum()
print("Ventas por categoría en Tienda 1:")
print(ventas_categoria_tienda1)

Ventas por categoría en Tienda 1:
Categoría del Producto
Artículos para el hogar     12698400.0
Deportes y diversión        39290000.0
Electrodomésticos          363685200.0
Electrónicos               429493500.0
Instrumentos musicales      91299000.0
Juguetes                    17995700.0
Libros                       8784900.0
Muebles                    187633700.0
Name: Precio, dtype: float64

## Tienda 2

In [8]:
ventas_categoria_tienda2 = tienda2.groupby('Categoría del Producto')['Precio'].sum()
print("Ventas por categoría en Tienda 2:")
print(ventas_categoria_tienda2)

Ventas por categoría en Tienda 2:
Categoría del Producto
Artículos para el hogar     14746900.0
Deportes y diversión        34744500.0
Electrodomésticos          348567800.0
Electrónicos               410831100.0
Instrumentos musicales     104990300.0
Juguetes                    15945400.0
Libros                      10091200.0
Muebles                    176426300.0
Name: Precio, dtype: float64

## Tienda 3

In [9]:
ventas_categoria_tienda3 = tienda3.groupby('Categoría del Producto')['Precio'].sum()
print("Ventas por categoría en Tienda 3:")
print(ventas_categoria_tienda3)

Ventas por categoría en Tienda 3:
Categoría del Producto
Artículos para el hogar     15060000.0
Deportes y diversión        35593100.0
Electrodomésticos          329237900.0
Electrónicos               410775800.0
Instrumentos musicales      77380900.0
Juguetes                    19401100.0
Libros                       9498700.0
Muebles                    201072100.0
Name: Precio, dtype: float64

## Tienda 4

In [10]:
ventas_categoria_tienda4 = tienda4.groupby('Categoría del Producto')['Precio'].sum()
print("Ventas por categoría en Tienda 4:")
print(ventas_categoria_tienda4)

Ventas por categoría en Tienda 4:
Categoría del Producto
Artículos para el hogar     15074500.0
Deportes y diversión        33350100.0
Electrodomésticos          283260200.0
Electrónicos               409476100.0
Instrumentos musicales      75102400.0
Juguetes                    20262200.0
Libros                       9321300.0
Muebles                    192528900.0
Name: Precio, dtype: float64

# 3. Calificación promedio de la tienda

## Tienda 1

In [11]:
cal_prom_tienda1 = tienda['Calificación'].mean()
print(f"Calificación promedio Tienda 1: {cal_prom_tienda1}")

Calificación promedio Tienda 1: 3.976685036032217

## Tienda 2

In [12]:
cal_prom_tienda2 = tienda2['Calificación'].mean()
print(f"Calificación promedio Tienda 2: {cal_prom_tienda2}")

Calificación promedio Tienda 2: 4.037303942348453

## Tienda 3

In [13]:
cal_prom_tienda3 = tienda3['Calificación'].mean()
print(f"Calificación promedio Tienda 3: {cal_prom_tienda3}")

Calificación promedio Tienda 3: 4.048325561678677

## Tienda 4

In [14]:
cal_prom_tienda4 = tienda4['Calificación'].mean()
print(f"Calificación promedio Tienda 4: {cal_prom_tienda4}")

Calificación promedio Tienda 4: 3.9957591178965224

# 4. Productos más y menos vendidos

## Tienda 1

In [ ]:
num_prods_vendidos_tienda1 = tienda['Producto'].value_counts() # value_counts() ya ordena de manera descendente por defecto
print(f"Número de productos vendidos Tienda 1: {num_prods_vendidos_tienda1}")

Número de productos vendidos Tienda 1: Producto
TV LED UHD 4K                  60
Armario                        60
Microondas                     60
Secadora de ropa               58
Bloques de construcción        56
Mesa de noche                  56
Balón de baloncesto            55
Vaso térmico                   54
Impresora                      54
Bicicleta                      54
Refrigerador                   54
Batería                        53
Cubertería                     52
Carrito de control remoto      52
Modelado predictivo            51
Auriculares                    50
Iphone 15                      49
Ajedrez de madera              49
Lavavajillas                   48
Lavadora de ropa               47
Guitarra eléctrica             47
Guitarra acústica              46
Sofá reclinable                46
Silla de oficina               46
Estufa                         45
Kit de bancas                  44
Cama box                       44
Cubo mágico 8x8                44
Mesa de centro                 44
Cama king                      44
Smart TV                       44
Set de ollas                   43
Smartwatch                     43
Juego de mesa                  43
Dashboards con Power BI        42
Tablet ABXY                    42
Balón de voleibol              42
Set de vasos                   41
Iniciando en programación      41
Sillón                         41
Asistente virtual              40
Dinosaurio Rex                 40
Mesa de comedor                40
Cuerda para saltar             40
Muñeca bebé                    40
Mochila                        39
Ciencia de datos con Python    39
Pandereta                      36
Olla de presión                35
Auriculares con micrófono      33
Celular ABXY                   33
Name: count, dtype: int64

## Tienda 2

In [18]:
num_prods_vendidos_tienda2 = tienda2['Producto'].value_counts()
print(f"Número de productos vendidos Tienda 2: {num_prods_vendidos_tienda2}")

Número de productos vendidos Tienda 2: Producto
Iniciando en programación      65
Microondas                     62
Batería                        61
Guitarra acústica              58
Pandereta                      58
Secadora de ropa               57
Iphone 15                      55
Armario                        54
Bloques de construcción        54
Set de ollas                   52
Cuerda para saltar             50
Lavadora de ropa               49
Refrigerador                   49
Silla de oficina               49
Muñeca bebé                    48
Cama box                       47
Guitarra eléctrica             47
Vaso térmico                   47
Carrito de control remoto      47
Balón de voleibol              46
Lavavajillas                   46
Modelado predictivo            46
Set de vasos                   46
Cubo mágico 8x8                45
Mochila                        45
Mesa de centro                 45
Kit de bancas                  45
TV LED UHD 4K                  45
Bicicleta                      45
Cama king                      45
Ajedrez de madera              45
Auriculares con micrófono      44
Sofá reclinable                44
Smartwatch                     44
Olla de presión                44
Tablet ABXY                    44
Mesa de noche                  44
Dashboards con Power BI        43
Ciencia de datos con Python    43
Balón de baloncesto            42
Dinosaurio Rex                 42
Estufa                         42
Celular ABXY                   41
Smart TV                       40
Cubertería                     39
Asistente virtual              38
Auriculares                    37
Sillón                         35
Mesa de comedor                34
Impresora                      34
Juego de mesa                  32
Name: count, dtype: int64

## Tienda 3

In [19]:
num_prods_vendidos_tienda3 = tienda3['Producto'].value_counts() 
print(f"Número de productos vendidos Tienda 3: {num_prods_vendidos_tienda3}")

Número de productos vendidos Tienda 3: Producto
Kit de bancas                  57
Cama king                      56
Mesa de comedor                56
Set de ollas                   55
Mesa de noche                  55
Smart TV                       54
Modelado predictivo            53
Cuerda para saltar             53
Estufa                         53
Carrito de control remoto      52
Juego de mesa                  52
Lavavajillas                   52
Bicicleta                      52
Pandereta                      51
Impresora                      50
Refrigerador                   50
Balón de baloncesto            50
Armario                        49
Tablet ABXY                    48
Balón de voleibol              48
Guitarra acústica              47
Sillón                         47
Olla de presión                47
Ajedrez de madera              47
Iniciando en programación      46
Silla de oficina               46
Dinosaurio Rex                 46
Cama box                       46
Smartwatch                     46
Iphone 15                      46
Ciencia de datos con Python    46
Sofá reclinable                45
Secadora de ropa               45
Cubo mágico 8x8                44
Celular ABXY                   44
Auriculares                    43
Mesa de centro                 42
Lavadora de ropa               42
TV LED UHD 4K                  42
Batería                        41
Dashboards con Power BI        40
Auriculares con micrófono      39
Muñeca bebé                    39
Cubertería                     39
Asistente virtual              39
Vaso térmico                   38
Guitarra eléctrica             38
Mochila                        36
Microondas                     36
Set de vasos                   36
Bloques de construcción        35
Name: count, dtype: int64

## Tienda 4

In [20]:
num_prods_vendidos_tienda4 = tienda4['Producto'].value_counts()
print(f"Número de productos vendidos Tienda 4: {num_prods_vendidos_tienda4}")

Número de productos vendidos Tienda 4: Producto
Cama box                       62
Cubertería                     59
Dashboards con Power BI        56
Cama king                      56
Mesa de noche                  55
Carrito de control remoto      55
Mesa de comedor                55
Bloques de construcción        54
Smart TV                       54
Pandereta                      52
Asistente virtual              50
Set de ollas                   50
Impresora                      50
Modelado predictivo            50
Balón de baloncesto            50
Iphone 15                      48
Muñeca bebé                    48
Microondas                     48
Juego de mesa                  48
Batería                        48
Balón de voleibol              48
Vaso térmico                   48
Cubo mágico 8x8                47
Sofá reclinable                47
Estufa                         47
Dinosaurio Rex                 47
Olla de presión                46
Set de vasos                   46
Sillón                         45
Tablet ABXY                    45
Bicicleta                      45
Mesa de centro                 44
Auriculares                    44
Lavavajillas                   43
Cuerda para saltar             43
Iniciando en programación      43
Mochila                        43
Auriculares con micrófono      42
Kit de bancas                  42
TV LED UHD 4K                  40
Secadora de ropa               40
Silla de oficina               40
Ajedrez de madera              39
Smartwatch                     39
Celular ABXY                   39
Refrigerador                   38
Lavadora de ropa               38
Ciencia de datos con Python    38
Guitarra acústica              37
Armario                        34
Guitarra eléctrica             33
Name: count, dtype: int64

# 5. Envío promedio por tienda